<a href="https://colab.research.google.com/github/Vaishnavi41021/Aelpula-Vaishnavi-/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.

In [ ]:
x=10
print(type(x))

<class 'int'>

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.

In [ ]:
a=5
b=10
c=15
print(a+b+c)

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
x=5
y="str"
z=5.3
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
x=int(input("enter a number"))
y=int(input("enter a number"))
print(x+y)
print(x-y)
print(x*y)
print(x/y)

enter a number2
enter a number3
5
-1
6
0.6666666666666666

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
x="123"
print(int(x))
float(x)

123

123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
x=input("enter a string")
print(x[0])

enter a stringstr
s

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
x=input("enter a string")
print(len(x))

enter a stringcgyu
4

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
x=input("enter a string")
print(x.isalpha())

enter a string1234
False

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
x=input("enter a string")
y=input("enter a string")
print(x+y)

enter a stringAelpula
enter a stringVaishnavi
AelpulaVaishnavi

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
sub="abc"
x=input("enter the str to get substring index")
substrind=x.find(sub)
print(substrind)

enter the str to get substring index sonuabc
5

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
x=input("enter a string")
print(x.upper())
print(x.lower())

enter a stringhi
HI
hi

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
x=input("enter a string")
y=input("enter a character")
print(x.count(y))

enter a stringasbistus
enter a characters
3

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
x=input("enter your name")
greetings=(f"Hello {x} GoodMorning")
print(greetings)

enter your nameVaishnavi
Hello Vaishnavi GoodMorning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
x=int(input("enter a string"))
y=int(input("enter a string"))
print(x+y)

enter a string1
enter a string2
3

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
x=input("enter your name")
y=int(input("enter age"))
print(f"hi my name is {x} and iam {y} years old")

enter your namevaishnavi
enter age20
hi my name is vaishnavi and iam 20 years old

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
x=int(input("enter a number"))
if x>0:
  print("positive")
elif x==0:
  print("zero")
elif x<0:
  print("negative")

enter a number0
zero

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
x=int(input("enter a number"))
y=int(input("enter a number"))
z=int(input("enter a number"))
print(max(x,y,z))

enter a number2
enter a number3
enter a number4
4

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
x=int(input("enter a year"))
if x%4==0:
  print("leap year")
else:
  print("not a leap year")

enter a year400
leap year

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
x=int(input("enter"))
if x%3==0 and x%5==0:
  print("True")
else:
  print("False")

enter15
True

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
x=input("enter")
if x[0:]==x[::-1]:
 print("True")
else:
  print("False")

enterfsasf
True

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
x=1
while x<=20:
  if x%2==0:
   print(x)
  x=x+1

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
x=int(input("enter a number"))
for i in range(1,11):
  print(f"{x}x{i}=",x*i)

enter a number5
5x1= 5
5x2= 10
5x3= 15
5x4= 20
5x5= 25
5x6= 30
5x7= 35
5x8= 40
5x9= 45
5x10= 50

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
sum=0
n=int(input("enter"))
i=1
while i<=n:
  sum=sum+i
  i=i+1
print(f"sum of 1 to {n} numbers is:{sum}")

enter5
sum of 1 to5 numbers is:15

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
x=int(input("enter a number"))
fact=1
while x>0:
  fact=fact*x
  x=x-1
print(fact)

enter a number2
2

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n=int(input("enter a number"))
a=0
b=1
for i in range(n):
  print(a)
  c=a+b
  a=b
  b=c

enter a number8
0
1
1
2
3
5
8
13

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
for i in range(1,101):
  if i>1:
    for j in range(2,i):
      if i%j==0:
        break
    else:
      print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
n=int(input("enter a number"))
for i in range (50):
  if n>50:
    print("break")
    break
else :
    print(f"The num {n} is in the limit")

enter a number678
break

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for i in range(1,21):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
x=input("enter a string")
y=input("enter a character")
count=0
for i in x:
  if i==y:
    count=count+1
   print(count)

enter a stringbjinkobj
enter a characterb
2

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
n=int(input("enter the numbers"))
digits = [int(i) for i in str(n)]
sum=0
for i in digits:
  sum=sum+i
print(sum)

enter the numbers1111
4

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.
x=[1,2,3,4,5]
sum=0
for i in x:
  sum=sum+i
print(sum)

15

In [ ]:
# Write a Python program to find the largest element in a list.
x=[1,2,3,4,5]
print(max(x))

5

In [ ]:
# Write a Python program to reverse a list.
x=[1,2,3,4,5]
print(x[::-1])

[5, 4, 3, 2, 1]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
x=[1,2,3,4,5]
n=int(input("enter a number"))
x.remove(n)
print(x)

enter a number3
[1, 2, 4, 5]

In [ ]:
# Write a Python program to find the index of an element in a list.
x=[1,2,3,4,5]
n=int(input("enter the num : "))
index=x.index(n)
print(f"{n} is at the index {index}")

enter the num : 3
3 is at the index 2

In [ ]:
# Write a Python program to find if a specific element exists in a list.
x=[1,2,3,4,5]
n=int(input("enter the num"))
if n in x:
  print("True")
else:
  print("False")

enter the num8
False

In [ ]:
# Write a Python program to remove duplicates from a list.
x=[1,2,3,1,3,5,6,5]
y=[]
for i in x:
  if i not in y:
    y.append(i)
print(y)

[1, 2, 3, 5, 6]

In [ ]:
# Write a Python program to count the occurrences of an element in a list.
x=[1,2,3,1,3,5,6,5]
n=int(input("enter a number"))
print(x.count(n))

enter a number5
2

In [ ]:
# Write a Python program to get the number of even numbers in a list.
x=[2,2,4,3,1,5,6]
count=0
for i in x:
  if i%2==0:
   count=count+1
print(count)

4

In [ ]:
# Write a Python program to create a tuple and print it.
x=(1,2,3,4,5)
print(x)

(1, 2, 3, 4, 5)

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa.

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.
x=(1,2,3,4,5)
y=max(x)
z=min(x)
print(y)
print(z)

5
1

In [1]:
# Write a Python program to unpack a tuple into variables.

my_tuple = (10, 20, 30)
a, b, c = my_tuple

print("a:", a)
print("b:", b)
print("c:", c)

a: 10
b: 20
c: 30

In [2]:
# Write a Python program to add an element to a set and check if an element exists in the set.
# Create a set
my_set = {1, 2, 3, 4}
my_set.add(5)
print("Updated set:", my_set)
element_to_check = 3
found = False
for element in my_set:
    if element == element_to_check:
        found = True
        break
if found:
    print(f"Element {element_to_check} exists in the set.")
else:
    print(f"Element {element_to_check} does not exist in the set.")

Updated set: {1, 2, 3, 4, 5}
Element 3 exists in the set.

In [3]:
# Write a Python program to create a dictionary with keys and values and print it.
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [4]:
# Write a Python program to access a dictionary value using a key.
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York",
    "profession": "Engineer"
}
name_value = my_dict["name"]
age_value = my_dict["age"]
print("Name:", name_value)
print("Age:", age_value)

Name: Alice
Age: 25

In [6]:
# Write a Python program to check if a key exists in a dictionary.
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York",
    "profession": "Engineer"
}

key_to_check = "age"
if key_to_check in my_dict:
    print(f"Key '{key_to_check}' exists in the dictionary.")
else:
    print(f"Key '{key_to_check}' does not exist in the dictionary.")

Key 'age' exists in the dictionary.

In [7]:
# Write a Python program to merge two dictionaries.
dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "New York", "profession": "Engineer"}

merged_dict = {**dict1, **dict2}
print("Merged Dictionary:", merged_dict)

Merged Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York', 'profession': 'Engineer'}

In [8]:
# Write a Python program to remove a key from a dictionary.
removed_value = my_dict.pop("city", None)

if removed_value is not None:
    print(f"Key 'city' has been removed, value was: {removed_value}")
else:
    print("Key 'city' not found in the dictionary.")

print("Updated Dictionary:", my_dict)

Key 'city' has been removed, value was: New York
Updated Dictionary: {'name': 'Alice', 'age': 25, 'profession': 'Engineer'}

In [9]:
# Write a Python program to get the number of keys in a dictionary.
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York",
    "profession": "Engineer"
}

num_keys = len(my_dict)
print("Number of keys in the dictionary:", num_keys)

Number of keys in the dictionary: 4

In [10]:
# Write a Python program to find the largest and smallest values in a dictionary.
# Create a dictionary with numerical values
my_dict = {
    "a": 10,
    "b": 20,
    "c": 5,
    "d": 50,
    "e": 30
}
largest_value = max(my_dict.values())
smallest_value = min(my_dict.values())

print("Largest value:", largest_value)
print("Smallest value:", smallest_value)

Largest value: 50
Smallest value: 5

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [11]:
# Write a Python function that returns the square of a number.
def square(x):
  return x**2
square(5)

25

In [13]:
# Write a Python function that accepts two parameters and returns their sum.
def sum(x,y):
  return x+y
sum(5,6)

11

In [14]:
# Write a Python function to check if a given number is prime.
def prime(x):
  for i in range(2,x):#If a number x is divisible by any number in the range 2 to x-1, then it is not a prime number because prime numbers only have two divisors: 1 and x itself.
    if x%i==0:
      return False
  return True
prime(7)

True

In [24]:
# Write a Python function to calculate the factorial of a number using recursion.
def fact(x):
  if x==0:
    return 1
  else:
    return x*fact(x-1)
fact(5)

120

In [25]:
# Write a Python function to calculate the power of a number using recursion.
def power(x,y):
  if y==0:
    return 1
  else:
    return x*power(x,y-1)
power(2,3)

8

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.

In [ ]:
# Write a Python program to square each element of a list using the map() function.

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

**Note:**
- All assignments must follow [PEP 8  Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`